.textarea-wrapper {
    position: relative;

    &:hover .btn.no-homework {
        display: block;
    }

    .btn.no-homework {
        position: absolute;
        right: 6px;
        top: 10px;
        display: none;
    }
}

.weekly_homework {
    .row + .row {
        margin-top: 20px;
    }

    p.notes {
        margin: 5px 0 0 0;
        font-weight: 400;

        &:before {
            content: 'Notes: ';
        }

        input {
            color: #aaa;
            display: inline-block;
        }
    }
}

.homework-table {
    thead > tr > th {
        width: 12.5%;
    }
}