// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.text-red {
    color: $jeffrise-red;
}
.text-blue {
    color: $jeffrise-blue;
}
.text-white {
    color: white;
}
.text-gray {
    color: gray;
}
.text-light-gray {
    color: #ccc;
}

.no-margin  {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.margin-bottom-twenty {
    margin-bottom: 20px;
}
.margin-bottom-fourty {
    margin-bottom: 40px;
}

.section-title {
    position: relative;
    margin-bottom: 40px;

    &:before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 120px;
        height: 4px;
        background: $jeffrise-red;
    }
}

.text-center .section-title:before,
.text-center.section-title:before {
    left: 50%;
    margin-left: -60px;
}
