@import "home_hero";
@import "home_call_to_action";
@import "home_our_model";
@import "home_news";

.home {
    .site-header:not(.scrolled) {
        background: transparent;
        border-bottom-color: transparent;

        h1 a {
            background-image: url('../../img/logo-white.png');
        }

        .menu a {
            color: white;
        }

        .sub-menu {
            background: white;

            &:before {
                border-bottom-color: white;
            }

            a {
                color: gray;

                &:hover {
                    color: white;
                }
            }
        }
    }

    main {
        padding-top: 0;
    }
}