main {
    background-color: white;
    padding-top: 118px;

    .page-header {
        padding: 40px 0;
        color: white;
        background: linear-gradient(
            rgba(0, 0, 0, 0.40),
            rgba(0, 0, 0, 0.40)
        ), url('../../img/hero2.png') no-repeat 50% 30%;
        background-size: cover;

        a {
            margin-top: 7px;

            + a {
                margin-right: 20px;
            }
        }
    }

    .page-content {
        padding: 40px 0;
    }
}

@media (#{$bp-smaller-than-desktop}) {
    main {
        padding-top: 98px;
    }
}

@media (#{$bp-smaller-than-tablet}) {
    main {
        padding-top: 78px;
    }
}