footer {
    &.social {
        padding: 60px 0;
        background: #eee;

        a {
            color: #ccc;

            &:hover {
                color: gray;
            }

            + a {
                padding-left: 10px;
            }
        }
    }

    &.copyright {
        text-transform: uppercase;
        font-size: 10px;
        background: #ccc;
        padding: 20px 0 40px 0;

        a {
            color: #555;

            &:hover {
                color: $jeffrise-red;
            }
        }
    }
}

@media (#{$bp-smaller-than-tablet}) {
    footer .columns {
        text-align: center;
    }
}