/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/calendar";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/pagination";
@import "modules/spacing";
@import "modules/images";

/* Layout */
@import "layout/header";
@import "layout/menu";
@import "layout/footer";

/* Pages */
@import "pages/base";
@import "pages/home";
@import "pages/news";
@import "pages/team";
@import "pages/404";

/* Vendor */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import "../../../../node_modules/tippy.js/dist/tippy.css";

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; margin-left: 3em; }
.alignleft { float: left; margin-right: 3em; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption-text { font-size: 0.8em; color: #aaa; }